@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");

:root {
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(87, 117, 78);
  color: black;
  max-width: 1000px;
  height: 100dvh;
  font-family: "Roboto";
}

.box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
}

header {
  margin: 1rem 0 1rem 0;
  flex: 0 1 auto;
}

#title {
  font-family: "Patua One";
  font-size: 4rem;
  display: flex;
  flex-direction: column;
  line-height: 90%;
}

#title-one {
  text-align: left;
}

#title-two {
  font-size: 6rem;
  line-height: 90%;
  text-align: center;
}

#title-three {
  text-align: right;
}

main {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column-reverse;
  gap: 1rem;
  max-width: min(80%, 500px);
  overflow-y: auto;
  margin: 0 auto;
}

/* main > * + * {
  margin: 1rem 1rem;
} */

.message {
  text-align: justify;
  background-color: aliceblue;
  border-radius: 5px;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 0.5rem;
  display: grid;
  gap: 0.5rem;
}

.message-info {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
}

.message-text {
  font-size: 1.1rem;
}
.message-author {
  font-size: 1rem;
}
.message-date {
  font-size: 0.8rem;
}

.anon {
  color: lightslategray;
  font-style: italic;
}

footer {
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  margin: 0 auto;
  gap: 1rem;
  max-width: 500px;
  /* height: fit-content; */
}

form {
  display: grid;
  gap: 0.6rem;
  padding: 0 0.5rem 0 0.5rem;
}

form label {
  margin-left: 1rem;
  font-size: 0.9rem;
  font-weight: 700;
  text-align: left;
}

.field-wrapper {
  display: grid;
}

textarea {
  resize: none;
  font-family: 'Roboto';
}

input, textarea, button {
  border-radius: 5px;
}

button {
  width: fit-content;
  justify-self: right;
}

footer > section:last-child {
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.8rem;
  font-style: italic;
  text-align: center;
  color: rgb(17, 17, 17);
  margin-bottom: 1rem;
}


@media screen and (min-width: 320px) {
}
@media screen and (min-width: 680px) {
}
@media screen and (min-width: 1024px) {
}
